body {
  background-color: #d8dbed;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.text {
  margin: 20px auto 0; 
  color: #505d99;
}

.title {
  color: #8c9afa;
}

#sumbit-button{
  display: block;
  margin: 20px auto 0; 
  background-color:   #a6d2e9;
  border-color: #a6d2e9;
}